<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Practice</title>
  <!-- Skeleton CSS  -->
  <link rel="stylesheet" href="css/skeleton.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <main id="app" class="container">
    <div class="row">
      <h1>{{ welcome }}</h1>
      <h3 v-once>This will not change: {{ welcome }}</h3>
      <h3 v-pre>This will not change: {{ welcome }}</h3>
      <div v-on:scroll.passive="onScroll"></div>
      <!-- Perform one-time interpolations that do not update on data change -->
      <button v-on:click="welcome=welcomeVue">Change</button>
      <button v-on:click="warn">Submit</button>
      <button v-on:click="say('hi')">Say hi</button>
      <form v-on:submit.prevent>
        <input type="email" name="email" v-on:keyup.enter="say('Fuck off!!')">
        <input type="submit" value="$$$">
      </form>
      <button v-on:click.once="say('what')">Say what</button>
      <!-- <input v-on:keyup.enter="submit"> -->
    </div>
    <hr>
    <h1>Dark or Light</h1>
    <select v-model="message">
      <option v-for="option in options" v-bind:value="option.value">
        {{ option.mode }}
      </option>
    </select>
    <span>🤔{{ message }}</span>
    <hr>
    <button-counter title="Vue"></button-counter>
    <button-counter title="Angular"></button-counter>
    <button-counter title="React"></button-counter>
    <hr>

    <div class="box bg">
      <h1>HAPPY</h1>
      <h2>4/20</h2>
    </div>

    <hr>

  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="app.js"></script> -->
  <script>
    Vue.component('button-counter', {
      props: ['title'],
      data() {
        return {
          count: 0
        }
      },
      template: `<button @click="count++">
                  {{ title }} ❤️ {{ count }} times.
                </button>`
    })
    new Vue({
      el: "#app",
      data: {
        welcome: "Hello World",
        welcomeVue: "Hello Vue",
        message: '🐞🐞🐞',
        options: [
          { mode: 'Dark', value: "No wonder u can't find 'Em All!" },
          { mode: 'Light', value: "Good luck Catch 'Em All!" },
        ]
      },
      methods: {
        warn() {
          this.welcome = "Stay HOME, don't go out...! 🦠🦠🦠";
          alert("Wash your hands frequently");
          alert("Maintain social distancing");
          alert("Avoid touching eyes, nose and mouth");
          alert("Practice respiratory hygiene");
        },
        say: function (message) {
          console.log(message)
        }
      }
    })


  </script>
</body>

</html>